body{
    background: #BDBDBD;
}

#asdas{
    background-image: url(../img/bg.jpg);
    background-color: #cccccc;
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
}
