<div class="row m-4">
    <div class="col-12 mx-3">
        <h2>Contact</h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
            commodo corsus magna, vel scelerisque nisl consectetus. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-8" style="width: 100%; margin: 0 auto;" >
        <div class="row alert alert-secondary d-flex justify-content-end">
            <p class="font-weight-bold col-md-3 text-right">Your E-mail</p>
            <input class="form-control col-md-9" type="text" name="" id="" placeholder="Your email">
            <p class="font-weight-bold col-md-3 text-right">Your message</p>
            <textarea class="form-control col-md-9" name="" id="" cols="30" rows="5"
                placeholder="Please enter your message here..."></textarea>
            <button type="button" class="d-flex m-1 justify-content-end btn btn-primary">Submit</button>
        </div>
    </div>
</div>