<div class="row d-flex justify-content-center m-4">
    <div class="col-md-7">
        <h2>This First Heading <span class="text-muted">Will Catch Your Eye</span></h2>
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, provident? Cumque, repudiandae totam. Accusamus nihil tempora adipisci at pariatur voluptas. Enim dignissimos, voluptate nisi veritatis asperiores laboriosam repellendus explicabo distinctio?
        </p>
    </div>
    <div class="col-md-4">
        <img src="assets\img\1.jpg" class="rounded-circle" style="height: 300px;">
    </div>
    
</div>