<div class="row m-4">
    <div class="mx-4">
        <h2 class="">Porfolio</h2>
        <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo corsus magna, vel scelerisque nisl consectetus. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
        <div class="row m-3">
        <div class="col-md-4">
            <img class="img-fluid" src="./assets/img/big-project-image.png" alt="">
            <h6>Project Name</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="./assets/img/big-project-image.png" alt="">
            <h6>Project Name</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="./assets/img/big-project-image.png" alt="">
            <h6>Project Name</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
</div>